// @font-face
//   font-family: 'AvertaStd-Regular'
// @font-face
//   font-family: 'AvertaStd-Semibold'

html, body, header, section, nav, ul, ol, li, div, p, form, h1, h2, h3, h4, h5, h6, span, a, img
  margin: 0
  padding: 0
  border: 0
  outline: 0
  
html
  -webkit-text-size-adjust: none
  -webkit-tap-highlight-color transparent
  height 100%
/*base*/
body
  font-family: 'AvertaStd-Regular', 'PingFang SC'
  -webkit-touch-callout: none
  font-size 14px
  tap-highlight-color: transparent
  -webkit-tap-highlight-color: transparent
  -webkit-touch-callout none
  height 100%

ul, ol, li
  list-style: none

img 
  border: 0

i 
  font-style: normal

a, a:active 
  cursor: pointer
  text-decoration: none
  color:#434343
  
th
  font-weight normal
html, body, #app
  background-color transparent
#app
  height 100%